* {
    margin: 0;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  canvas {
    display: block;
    margin-top: 10vh;
    height: 80vh;
    transition: 2s;
  }